.register_modal_wrapper {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .register_modal {
        width: 450px;
        height: 550px;
        background: #f7f8fa;
        position: relative;
        padding: 20px;
        box-sizing: border-box;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    label {
        display: inline-block;
        margin-bottom: .5rem;
    }

    input {
        display: inline-block;
        margin-bottom: .5rem;
    }

    .btn{
        height: 46px;
        padding: 0 28px;
        border-color: #222;
        border-radius: 25px;
        border-width: 2px;
        border-style: solid;
      }

      .btn:hover {
        background: #0099e5;
        color: #fff;
        border-color: #0099e5;
      }
}