<div class="discovery_header_wrapper">
  <div class="discovery_header">
    <h1>What's popular today</h1>
    <p>See recently added photos with the highest Pulse.</p>
  </div>
</div>
<div class="tab_navigation_wrapper">
  <ul class="tabs">
    <li class="active">
      <a href="/">populaire</a>
    </li>
    <li>
      <a href="/">à venir</a>
    </li>
    <li>
      <a href="/">nouveautés</a>
    </li>
    <li>
      <a href="/">editors' choice</a>
    </li>
    <li>
      <a href="/">galeries</a>
    </li>
  </ul>
</div>
