<div class="discovery_header_wrapper">
    <div class="discovery_header">
        <h1>What's popular today</h1>
        <p>See recently added photos with the highest Pulse.</p>
    </div>
</div>
<div class="tab_navigation_wrapper">
    <ul class="tabs">
        <li class="active">
            <a href="#">POPULAIRE</a>
        </li>
        <li>
            <a href="#">À VENIR</a>
        </li>
        <li>
            <a href="#">NOUVEAUTÉS</a>
        </li>
        <li>
            <a href="#">EDITOIR'S CHOICE</a>
        </li>
        <li>
            <a href="#">GALERIES</a>
        </li>
    </ul>
</div>


